<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <title>{% block title %}{% endblock %}</title>
</head>
  {% if request.path == '/' or length == 0 %}
    <body class="bg-slate-300 h-screen lg:overflow-hidden min-h-[512px]"></body>
  {% else %}
    <body class="bg-slate-300 h-screen min-h-[512px]"></body>
  {% endif %}
  {% block content %}{% endblock %}
  <script src="{{ url_for('static', filename='node_modules/tw-elements/dist/js/index.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>