<nav class="bg-gray-100 px-5 py-5 rounded-md w-1/2 my-3 mx-auto flex flex-wrap justify-around gap-y-2">
  <ol class="list-none flex justify-center self-center">
    <li><a href="{{ url_for('index') }}" class="text-sky-600 hover:text-sky-700 hover:font-bold">Home</a></li>
    <li><span class="text-gray-500 mx-2">|</span></li>
    <li><a href="{{ url_for('items') }}" class="text-sky-600 hover:text-sky-700 hover:font-bold">Items</a></li>
    <li><span class="text-gray-500 mx-2">|</span></li>
    <li class="text-gray-500">Data</li>
  </ol>
  {% if request.path == '/items' and length != 0 %}
    <div class=" flex justify-center">
      <button type="button"
        class="px-6 py-2.5 bg-emerald-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-emerald-700 hover:shadow-lg focus:bg-emerald-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-emerald-800 active:shadow-lg transition duration-150 ease-in-out"
        data-bs-toggle="modal" data-bs-target="#addItemModal" data-mdb-ripple="true" data-mdb-ripple-color="light">
        Add New Item
      </button>
    </div>
  {% endif %}
</nav>